@use 'variaveis';

.footer {
    background-color: variaveis.$fontColorClick;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;

    

    h4 {
        color: variaveis.$fontColor;
        padding: 8px;

        @media (max-width: 768px) {
            display: block;
            font-size: 12px;
            margin-right: 20%;
        }
    
    }

    &__color {
        color: variaveis.$colorSecondaryBtn;
    }
}