@use 'variaveis';

.footer {
    background-color: variaveis.$fontColorClick;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;

    h4 {
        color: variaveis.$fontColor;
        padding: 8px;

        @media (max-width: 768px) {
            text-align: justify;
            margin-left: 20px;
        }
    }

    &__color {
        color: variaveis.$colorSecondaryBtn;
    }
}