@use 'variaveis';

.footer {
    background-color: variaveis.$fontColorClick;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;


    h4 {
        color: variaveis.$fontColor;
        padding: 8px;
    }

    &__color {
        color: variaveis.$colorSecondaryBtn;
    }
}